extends layout

block content
  ul
    each product in productList 
      div
        a(href=product.url)
          h3 #{product.name}
        p #{product.description}
        h4 #{product.price}€
        h5 There are #{product.numberInStock} items left.
    else 
        li No products available
    form(method='POST')
      button(type='submit') DELETE!